.tooltip
.spotlight.hidden
.user-card-popover
.cosecha-tech#cosecha-tech
	.connection-status
	.flex-tab-bar(role="toolbar")
	.main-content
		.page-container
			header.fixed-title
				i.fa.fa-bars.fa-2x
				h1 Room Title
			.content
				| content
	.side-nav
