body{
  font-family: "Helvetica";
  background: #f4f4f7;
  color: #444;
	margin: 0px;
	padding: 0px;
}

.cosecha-tech{
	margin: 0px;
	padding:0px;
	& > .main-content{
		& > .page-container{
			& > header{
				background: #fff;
				border-bottom: 1px solid #ccc;
				margin: 0px;
				padding:0px;
				& > i{
					float:left;
					padding: 8px;
				}
				& > h1{
					margin: 0px;
					padding:10px;
				}

			}
			& > .content{
				padding: 10px;
			}
		}
	}

	& > .flex-tab-bar{
		position:fixed;
		right: 0px;
		float:right;
		width: 50px;
		height: 100%;
		background: pink;
		border-left: 1px solid #ccc;
	}
}
